In [7]:
import pandas as pd

files = ["vid_1.csv", "vid_2.csv", "vid_3.csv", "vid_4.csv", "vid_5.csv"]
dfs = [pd.read_csv(f) for f in files]

combined_df = pd.concat(dfs, ignore_index=True)
combined_df.shape

(23182, 1)

In [5]:
combined_df.duplicated().value_counts()

False    20918
True      2264
Name: count, dtype: int64

In [9]:
# drop duplicate comments
combined_df = combined_df.drop_duplicates(subset=["Comment"]).reset_index(drop=True)
combined_df.to_csv("combined_dpr.csv", index=False)